<div class="csv-export-page">
    <div class="primary-section-grid">
        <h2 class="section-title">{{'LABEL_CONCEPT_CSV_EXPORT' | translate}}</h2>

        <form ng-submit="onConceptSelected()">
            <input class="enter-concept" type="text" name="conceptSet" ng-model="conceptSet" bahmni-autocomplete strict-select="true" is-invalid="conceptNameInvalid" source="getConcepts" response-map="getDataResults" required placeholder="{{'LABEL_ENTER_CONCEPT_NAME_PLACEHOLDER' | translate}}"/>
            <button class="export-csv confirm" type="submit" class="row-remover">{{'LABEL_EXPORT' | translate}}</button>
        </form>
    </div>
</div>